@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --bg-seconday: #f0efeb;
  --app-bg: #40798c;
  --hub-bg-: #9f7e69;
  --grow-card: #f0efeb;
}
* {
  font-family: "Poppins", sans-serif;
}
.btn-secondary {
  background-color: var(--app-bg);
}
.btn-outline-secondary {
  border-color: var(--app-bg);
}
.btn-secondary:hover,
.btn-outline-secondary:hover {
  background-color: var(--app-bg);
}
.banner-img {
  width: 24px;
  height: 24px;
}
.logo-img {
  width: 40px;
  height: 40px;
}

.customer {
  background-color: var(--bg-seconday);
}

.grid-img {
  width: 30px;
  height: 30px;
}

.trans-gray {
  position: relative;
}
.trans-gray::before,
.trans-gray::after {
  content: "";
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(2px);
  z-index: 2;
}
.trans-gray::after {
  right: 0;
}
.trans-gray :is(p, p span img) {
  font-weight: bold;
  opacity: 0.6;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: fill;
}
.app {
  background-color: var(--app-bg);
}
.hub {
  background-color: var(--hub-bg-);
}
.grow-card {
  background-color: var(--grow-card);
}

.link {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.absolute-btn {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

#title {
}

.intergrate-icon {
  width: 44px;
  height: 44px;
}

#animate-x {
  animation: integrate-slide 5s linear infinite alternate;
}
#animate-x:nth-of-type(2) {
  animation: integrate-slidee 5s linear infinite alternate;
}

.feed {
  animation: integrate-slidee 10s ease-in-out infinite alternate;
}

@keyframes integrate-slide {
  0% {
    transform: translateX(-50%);
  }
  15% {
    transform: translateX(-35%);
  }
  30% {
    transform: translateX(-17%);
  }
  45% {
    transform: translateX(0%);
  }
  65% {
    transform: translateX(20%);
  }
  80% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(60%);
  }
}

@keyframes integrate-slidee {
  0% {
    transform: translateX(50%);
  }
  15% {
    transform: translateX(35%);
  }
  30% {
    transform: translateX(17%);
  }
  45% {
    transform: translateX(0%);
  }
  65% {
    transform: translateX(-20%);
  }
  80% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(-60%);
  }
}
